
body {
  background-color: darkgreen;
}

#board {
  width: 800px;
  height: 600px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

.apple {
  background-color: rgb(245, 41, 5);
  width: 20px;
  height: 20px;
  position: absolute;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}
#head {
  background-color: darkorchid;
  width: 20px;
  height: 20px;
  position:absolute;
}
.body{
  background-color: rgb(164, 90, 233);
  width:20px;
  height:20px;
  position:absolute;
}
#score{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  color:aliceblue;
}
#apple{
  top:320px;
  left:380px;
}
